.base-links img {
  height: auto;
  max-width: 10%;
}

.base-links button,
.base-links a {
  color: var(--color-black);
  margin: 2%;
  width: 100%;
}

/* mobile */
@media (max-width: 767px) {
  .base-links {
    padding: 2.5%;
    margin-top: var(--mobile-margin-y);
    margin-bottom: var(--mobile-margin-y);
    background-color: var(--color-theme-main-faded);
  }
}

/* desktop */
@media (min-width: 768px) {
  .base-links {
    margin-top: var(--desktop-margin-y);
    margin-bottom: var(--desktop-margin-y);
    margin-left: var(--desktop-margin-x);
    margin-right: var(--desktop-margin-x);
    padding: 5%;
    background-color: var(--color-theme-main-faded);
    border-radius: 1rem;
  }
}
