.information section img {
  width: auto;
  height: 20%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.information section {
  padding: 2%;
}
/* mobile */
@media (max-width: 767px) {
  .information {
    display: flex;
    flex-direction: column;
    padding-left: var(--mobile-padding-x);
    padding-right: var(--mobile-padding-x);
    padding-top: var(--mobile-padding-y);
    padding-bottom: var(--mobile-padding-y);
    background-color: var(--color-theme-light-faded);
    color: var(--color-black);
  }
}

/* desktop */
@media (min-width: 768px) {
  .information {
    display: flex;
    flex-direction: row;
    padding-left: var(--desktop-padding-x);
    padding-right: var(--desktop-padding-x);
    padding-top: var(--desktop-padding-y);
    padding-bottom: var(--desktop-padding-y);
    background-color: var(--color-theme-light-faded);
    color: var(--color-black);
  }
}
