.nav {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 36px;
    padding-right: 36px;
    color: #f6f8f8 !important;
    font-family: Cabin;
    font-size: large;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.nav-select .nav,
a:hover .nav,
a:hover .nav :not(a:hover .arrow-left-bottom),
a:hover .nav :not(a:hover .arrow-left-top) {
    transition: 0.5s;
    color: #f6f8f8 !important;
    background-color: var(--color-theme-main) !important;
    height: 50px;
}

/* mobile */
@media (max-width: 767px) {
    .nav {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .mobilenavbar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        z-index: 100;
        right: 0;
        width: 60%;
        padding-right: 2%;
        height: 100%;
        padding-left: 20%;
        background-color: black;
        animation: slidein 0.75s ease-in-out;
    }

    @keyframes slidein {
        0% {
            opacity: 0;
            transform: translate(-50%, 0);
            width: 260%;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: translate(0, 0);
            width: 60%;
        }
    }

    .navbar {
        display: none;
    }
    .x {
        padding-top: 8%;
        padding-bottom: 8%;
        color: white;
        cursor: pointer;
        font-size: x-large;
    }
    .back {
        width: 20px;
        height: 3px;
        transform: rotate(45deg);
        background-color: rgba(0, 0, 0, 0.699);
        margin-bottom: 6px;
        margin-top: -20px;
    }
    .front {
        width: 20px;
        height: 3px;
        transform: rotate(135deg);
        background-color: rgba(0, 0, 0, 0.699);
        margin-bottom: 6px;
    }
}
@media (min-width: 768px) and (max-width: 971px) {
    .navbar {
        padding-right: 0.5%;
        padding-left: 0.5%;
    }
    .nav {
        padding-left: 18px;
        padding-right: 18px;
    }
}
@media (min-width: 972px) and (max-width: 1171px) {
    .navbar {
        padding-right: 5.5%;
        padding-left: 5.5%;
    }
}
@media (min-width: 972px) and (max-width: 1186px) {
    .navbar {
        padding-right: 5.5%;
        padding-left: 5.5%;
    }
}
@media (min-width: 1187px) {
    .navbar {
        padding-right: 15%;
        padding-left: 15%;
    }
}

/* desktop */
@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .mobilenavbar {
        display: none;
    }
    .arrow-left-top {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;

        border-right: 15px solid;
    }
    .arrow-left-bottom {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;

        border-right: 15px solid;
    }

    a:hover .arrow-left-top {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-bottom: 0px solid transparent;
        display: block;
        transition: 0.5s;
        border-right-color: var(--color-theme-main);
    }
    a:hover .arrow-left-bottom {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 25px solid transparent;
        display: block;
        transition: 0.5s;
        border-right-color: var(--color-theme-main);
    }
    .nav-select .arrow-left-top {
        width: 0;
        height: 0;
        transition: 0.5s;
        border-top: 25px solid transparent;
        border-bottom: 0px solid transparent;
        display: block;
        border-right-color: var(--color-theme-main);
    }
    .nav-select .arrow-left-bottom {
        width: 0;
        height: 0;
        transition: 0.5s;
        border-top: 0px solid transparent;
        border-bottom: 25px solid transparent;
        display: block;
        border-right-color: var(--color-theme-main);
    }
}
