

header {
    background-color: rgb(192,195,197);
}

header img {
    object-fit: cover;
    object-position: 20% 10%;
    border-radius: 100%;
    height: 8em;
}

/* mobile */
@media (max-width: 767px) {
    header {
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

/* desktop */
@media (min-width: 768px) {
    header {
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}