@media (max-width: 576px) {
  .desktop-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  
}

.menu-icon {
  width: 30px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.452);
  margin-bottom: 6px;
}
