@media (max-width: 576px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav-hide {
    display: none;
  }
  .mobile-nav-show {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.945);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 55%;
    padding-top: 1em;
  }
  .mobile-nav-show,
  .mobile-nav-show .form-row,
  .mobile-nav-show div,
  .mobile-nav-show h5,
  .mobile-nav-show h5 a {
    color: white !important;
    z-index: 110;
  }

  .mobile-nav-show div div {
    color: white !important;
    z-index: 111;
  }
}
@media (min-width: 768px) {
  .mobile-nav,
  .mobile-nav-show,
  .mobile-nav-hide,
  .mobile-nav-bg,
  .mobile-nav-show h5 a {
    display: none;
  }
}

.menu-icon {
  width: 30px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.452);
  margin-bottom: 6px;
}

.menu-icon-x-back {
  width: 20px;
  height: 3px;
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
  margin-bottom: 6px;
}
.menu-icon-x-front {
  width: 20px;
  height: 3px;
  transform: rotate(135deg);
  background-color: rgb(255, 255, 255);
  margin-bottom: 6px;
  margin-left: -20px;
}
