.blog h2 {
  color: white;
}
.blog {
  background-color: white;
}
.blog button {
  color: black;
}
/* mobile */
@media (max-width: 767px) {
  .blog title {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }
  .blog section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
  }
}

/* desktop */
@media (min-width: 768px) {
  .blog title {
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
  }
  .blog section {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2.5%;
  }
}
